# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
_ReSharper.Ez SQL

# mstest test results
TestResults
Ez SQL.suo
Ez SQL/bin/Debug/Ez SQL.exe
Ez SQL/bin/Debug/Ez SQL.pdb
Ez SQL/bin/Debug/QueriesLog/LogFile.xml
Ez SQL/obj/x86/Debug/Ez SQL.exe
Ez SQL/obj/x86/Debug/Ez SQL.pdb
Ez SQL/obj/x86/Debug/ResolveAssemblyReference.cache
Ez SQL.suo
Ez SQL/bin/Debug/Ez SQL.pdb
Ez SQL/bin/Debug/QueriesLog/Helper.xml
Ez SQL/bin/Debug/QueriesLog/LogFile.xml
Ez SQL/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Ez SQL/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ez SQL/obj/x86/Debug/Ez SQL.csproj.FileListAbsolute.txt
Ez SQL/obj/x86/Debug/Ez SQL.exe
Ez SQL/obj/x86/Debug/Ez SQL.pdb
Ez SQL/obj/x86/Debug/Ez_SQL.MultiQueryForm.ChildSelector.resources
Ez SQL/obj/x86/Debug/Ez_SQL.Properties.Resources.resources
Ez SQL/obj/x86/Debug/GenerateResource.read.1.tlog
Ez SQL/obj/x86/Debug/GenerateResource.write.1.tlog
Ez SQL/obj/x86/Debug/ResolveAssemblyReference.cache
Ez SQL/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
*.exe
*.pdb
*.cache
Debug/
